node_modules
yarn-error.log/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store
.vscode
*.tsbuildinfo

api/dist
api/prisma/migrations
api/.prisma

web/.next
web/out
web/build
web/next-env.d.ts
